{%extends "layout.html"%}
{% block content%}
<h1> ABOUT </h1>
<h4>Project Bank and Feedback Analysis is an important tool for colleges, students, teachers and all the relevant stakeholders. The main objective behind this project is to provide a centralized project management software system which consists of the scraping, retrieval, storage and recommendation of projects made by all the students of the organization in an easy and efficient way. This project also enables students to draft their custom blogs and submit their feedback about various departments of the college. Tests like sentiment analysis can be performed on the feedback submitted by the student to help the college understand the situation appropriately.
</h4>
{%endblock content%}
